body {
  background: linear-gradient(328.78deg, #030086 14.45%, #bd6177 84.36%),
    linear-gradient(301.28deg, #209b4a 0%, #7000ff 100%),
    radial-gradient(100% 138.56% at 100% 0%, #d50000 0%, #00ffe0 100%),
    radial-gradient(100% 148.07% at 0% 0%, #d50000 0%, #00ffff 100%);
  background-blend-mode: soft-light, overlay, difference, normal;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
